torch==2.0.0
opencv-python==4.5.5.64
faiss-cpu==1.8.0
Pillow==8.4.0
uvicorn==0.18.2
numpy==1.22.0
git+https://github.com/openai/CLIP.git@main
git+https://github.com/facebookresearch/segment-anything.git  # Install SAM directly from GitHub
